<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>viewController</key>
		<string>LSCircleListViewController</string>
		<key>img</key>
		<string>http://7xoqko.com1.z0.glb.clouddn.com/MVVM.jpg</string>
		<key>content</key>
		<string>666666</string>
		<key>title</key>
		<string>MVVM+RAC列表实现</string>
	</dict>
	<dict>
		<key>viewController</key>
		<string>LSGuideClickViewController</string>
		<key>img</key>
		<string>http://img4.imgtn.bdimg.com/it/u=924724924,3338617885&amp;fm=21&amp;gp=0.jpg</string>
		<key>content</key>
		<string>封装的引导点击动画</string>
		<key>title</key>
		<string>引导点击动画</string>
	</dict>
	<dict>
		<key>viewController</key>
		<string>LSAttributedViewController</string>
		<key>img</key>
		<string>http://www.aiimg.com/uploads/userup/0904/10095044B06.jpg</string>
		<key>content</key>
		<string>富文本封装及整理</string>
		<key>title</key>
		<string>富文本相关常用方法封装</string>
	</dict>
</array>
</plist>
